<header>
    <div class="text-center">
        <a href="/index">
            <img src="/img/logo_oscuro.png" class="img-fluid logo" alt="">
        </a>
    </div>
    <div>
        <p>Since {{since}}</p>
        <a class="fakeDiv" href="#">
            <small>Descubre un poquito nuestra filosofía</small>
        </a>
    </div>
    <div class="text-center">
        <a href="#compra" class="reg">Compra!</a>
        <a class="reg" href="/signup">Regístrate!</a>
        <a class="reg" href="/create">Crea!</a>
    </div>
</header>