<header>
    <div>
        <a href="/index">
            <h1>Piel en Bandeja</h1>
        </a>
    </div>
    <div>
        <p>Since antes de ayer</p>
    </div>
    <div>
        <a class="reg" href="#">Regístrate!</a>
    </div>
</header>