<header>
    <div>
        <a href="/index">
            <h1>Piel en Bandeja</h1>
        </a>
    </div>
    <div>
        <p>Since {{since}}</p>
    </div>
    <div>
        <a class="reg" href="/signup">Regístrate!</a>
    </div>
</header>