<header>
    <div class="container headerContain">
        <div class="text-center col-md-2">
            <a href="/index">
                <img src="/img/logo_oscuro.png" class="img-fluid logo" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <p>Since {{since}}</p>
            <a class="fakeDiv" href="#">
                <small>Descubre un poquito nuestra filosofía</small>
            </a>
        </div>
        <div class="col-md-5">
            {{#if user}}
            {{#if user.user_admin}}
            <a href="/admin" class="reg">Panel de Control</a>
            {{else}}
            <div>
                <h1>hola {{user.user_name}}</h1>
            </div>
            {{/if}}
            {{else}}
            <div>
                <div class="text-center btnDiv">
                    <a href="#compra" class="reg">Compra!</a>
                    <a class="reg" href="/signup">Regístrate!</a>
                    <a class="reg" href="/login">Inicia Sesión</a>
                </div>
            </div>
            {{/if}}
        </div>
</header>