<div class="p-4 col-md-6 mx-auto formulario">
  <form action="/create" enctype="multipart/form-data" method="POST">
    <div class="text-center mb-4">
      <h1 class="titulo">Piel En Bandeja</h1>
      <p class="mt-4 subtitulo">{{subtitulo}}</p>
    </div>

    <div class="form-label-group mt-4 col-md-3 col-xs-6 mx-auto">
      <input type="number" class="form-control" name="band_price" placeholder="Precio Bandeja" autofocus required>
    </div>

    <div class="form-label-group mt-4 col-md-3 col-xs-6 mx-auto">
      <input type="text" class="form-control" name="band_medidas" placeholder="Medidas (num x num)" required>
    </div>

    <div class="form-label-group mt-4 col-md-4 col-xs-12 mx-auto">
      <p class="text-center">Descripción</p>
      <textarea name="band_descr" class="form-control" required></textarea>
    </div>

    <input type="file" class="form-control col-md-6 mx-auto mt-4" name="bandejaPics" value="Sube Fotografías"
      multiple="10">
    <button class="btn btn-lg btn-success btn-block mt-4 col-md-6 col-xs-12 mx-auto" type="submit">Nueva
      Bandeja</button>
  </form>
</div>