<div class="landingLogo">
    <img src="/img/logo.png" class="img-fluid mx-auto">
</div>

<section class="containerBandejas">
    {{#each listado}}
    <div class="col-md-3 col-sm-12 band">
        {{> cardBandeja}}
    </div>
    {{/each}}
</section>