<h1>{{userName}}, parece que has olvidado tu contraseña. Nosotros te lo solucionamos!</h1>
<a href="http://localhost:3000/user/forgotPassword/{{hash}}/{{id}}">Comienza a recuperar tu contraseña!</a>
<h3>{{texto}}</h3>