$colorOscuro: #ca7835    ;
$colorVivo: #E0BE36;
$colorNaranja: rgba(119, 95, 17, 0.11);
$colorClaro: rgb(79, 128, 63);
$colorVerde: #D8F793;
$sombra: 7px 7px 5px 0px rgba(0, 0, 0, 0.102);


html {
    background-color: rgb(124, 112, 112);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100vw;
    margin: auto;
    background-color:white !important;
    min-height: 100vh;
}

a, a:hover .reg:hover {
    text-decoration: none !important;
    color: inherit !important
}

header {
    display: flex !important;
    justify-content: space-around;
    margin: auto;
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 3px solid grey;

    .logo {
        width: 30%;
        height: auto;
    }

    .fakeDiv {
        width: 100%;
    }

    div {
        width: 30%;
        margin: auto;
        position: relative;
    }

    h1 {
        letter-spacing: 5px;
        padding: 20px;
        color: $colorVivo;
        font-size: 3em;
    }

    p {
        border-bottom: 3px solid $colorVivo;
        padding: 5px;
        letter-spacing: 5px;
        color: $colorVivo;
    }

    .reg {
        background-color: $colorVivo;
        padding: 15px;
        color: $colorOscuro !important;
        border-radius: 10px;
        font-weight: 900;
        transition: .5s all ease-in-out;
    }

    .reg:hover {
        border: 3px dotted gold;
        box-shadow: $sombra;
        transform: translateY(-10px);
        transition: .2s all ease-in-out;
    }

    small {
        color: $colorVivo;
        position: absolute;
        top: 45px;
        right: 0;
    }
}

.landingLogo {
  margin: auto;
  background-image: url("https://res.cloudinary.com/dm4dzbfxs/image/upload/v1570970218/gkbqhdquqi5bd3arrkbr.jpg");
  background-size: 100%;
  height: 560px;
  width: 560px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: 767px) {
    height: 330px;
    width: 330px;
}

  img {
    margin: auto;
    width: 100vw;
    height: auto;
  }
}

.containerBandejas {
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: center;
    width: 75%;

    .band {
        .card-footer {
            border-top: 0;
        }
    }

    .band:hover {
        transition: 1.3 all ease-in-out;
        box-shadow: $sombra;
        border: 2px solid grey;
        border-left: 0;
        border-top: 0;
        transform: translateY(-15px);
    }

    .band:hover .price {
        box-shadow: $sombra;
        transform: rotateZ(0deg);
        color: $colorOscuro;
        transform: scale(1.2);
        border: 1px solid grey;
        background-color: white;
        transition: .5s ease-in-out;
        opacity: 1;
    }

    div:hover img {
        transform: scale(1.4);
        transition: 1.3 all ease-in-out;
    }

    a, a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.74);
    }
}

.detail {
    display: flex;
    flex-flow: row wrap;
    background-color: white;

    div {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1, p, span, small, h3 {
        padding: 5vh;
        text-align: center
    }

    img {
        margin: auto;
        width: 30vw;
        height: auto;
    }

    small {
        padding: 1vh;
        border: 1px solid grey;
        border-radius: 10px;
        margin:auto;
        position: relative;
        bottom: 5vh
    }

    .panel {
        display: flex;
        flex-flow: row nowrap;
        width: 80%;
        margin: auto;
        overflow: hidden;
        overflow-x: auto;
        max-height: 200px;
        position: relative;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;

            img {
                width: 60%;
                margin: auto;
                height: auto;
            }

            small {
                background-color: gold;
                color: black
            }
        }
    }
}

.price {
    position: absolute;
    bottom: 40px;
    right: 25px;
    padding: 5px;
    font-size: 1.6em;
    font-weight: 900;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    transform: rotateZ(-10deg);
    z-index: 500;
    transition: .5s all ease-in-out;
    opacity: 0;
}

.priceDetail {
    top: 200px;
    right: 200px;
    font-size: 2vw;
    font-weight: 900;
    background-color: $colorOscuro;
    color: black;
    border-radius: 5px;
    z-index: 500;
    max-width: 30%;
    margin: auto;
    max-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: $sombra;
}

.titulo {
    font-size: 5vw;
    letter-spacing: 5px;
}

.subtitulo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.formulario {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: $sombra;
    margin-top: 10vh;

    input {
        border: 0 !important;
        border-bottom: 3px solid $colorClaro !important;
    }
}

footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000;
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f7dacc;
  border: 5px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e4b550;
}
::-webkit-scrollbar-track {
  background: #9b6631;
  border: 0px solid #ffffff;
  border-radius: 37px;
}
::-webkit-scrollbar-track:hover {
  background: #9b6631;
}
::-webkit-scrollbar-track:active {
  background: #17580e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}