$colorOscuro: #ca7835    ;
$colorVivo: #E0BE36;
$colorNaranja: rgba(119, 95, 17, 0.11);
$colorClaro: rgb(79, 128, 63);
$colorVerde: #D8F793;
$sombra: 7px 7px 5px 0px rgba(0,0,0,0.29);


html {
    background-color: rgb(124, 112, 112);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 95vw;
    margin: auto;
    background-color:white !important;
    min-height: 100vh;
}

a, a:hover .reg:hover {
    text-decoration: none !important;
    color: inherit !important
}

header {
    display: flex !important;
    justify-content: space-around;
    margin: auto;
    background-color: $colorOscuro;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;

    div {
        width: 30%;
        margin: auto
    }

    h1 {
        letter-spacing: 5px;
        padding: 20px;
        color: $colorVivo;
        font-size: 3em;
    }

    p {
        border-bottom: 3px solid $colorVivo;
        padding: 5px;
        letter-spacing: 5px;
        color: $colorVivo;
    }

    .reg {
        background-color: $colorVivo;
        padding: 15px;
        color: $colorOscuro !important;
        border-radius: 10px;
        font-weight: 900;
        transition: .5s all ease-in-out;
    }

    .reg:hover {
        border: 3px dotted gold;
        box-shadow: $sombra;
        transform: translateY(-10px);
        transition: .2s all ease-in-out;
    }
}

.containerBandejas {
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;    

    div:hover {
        cursor: pointer;
        background-color: $colorNaranja
    }

    div:hover .price {
        box-shadow: $sombra;
        transform: rotateZ(0deg);
        color: $colorOscuro;
        transform: scale(1.2);
        border: 1px solid grey;
        background-color: white;
        transition: .5s ease-in-out;
    }

    a, a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.74);
    }


/*     div {
        margin: auto;
        padding: 1.5%;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
        align-self: stretch;
    } */
}

.detail {
    display: flex;
    flex-flow: row wrap;
    background-color: white;

    div {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1, p, span, small, h3 {
        padding: 5vh;
        text-align: center
    }
    
    img {
        margin: auto;
        width: 30vw;
        height: auto;              
    }

    small {
        padding: 1vh;
        border: 1px solid grey;
        border-radius: 10px;
        margin:auto;
        position: relative;
        bottom: 5vh
    }

    .panel {
        display: flex;
        flex-flow: row nowrap;
        width: 80%;
        margin: auto;
        overflow: hidden;
        overflow-x: auto;
        max-height: 200px;
        position: relative;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            img {
                width: 60%;
                margin: auto;
                height: auto;
            }

            small {
                background-color: gold;
                color: black
            }
        }
    }
}

.price {
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 7px;
    font-size: 2em;
    font-weight: 900;
    background-color: transparent;
    color: black;    
    border-radius: 5px;
    transform: rotateZ(-10deg);
    z-index: 500;
    transition: .5s all ease-in-out;
}

.priceDetail {
    top: 200px;
    right: 200px;
    font-size: 2vw;
    font-weight: 900;
    background-color: $colorOscuro;
    color: black;
    border-radius: 5px;
    z-index: 500;
    max-width: 30%;
    margin: auto;
    max-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: $sombra;
}

.titulo {
    font-size: 5vw;
    letter-spacing: 5px;
}

.subtitulo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.formulario {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: $sombra;
    margin-top: 10vh;

    input {
        border: 0 !important;
        border-bottom: 3px solid $colorClaro !important;
    }
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f7dacc;
  border: 42px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e4b550;
}
::-webkit-scrollbar-track {
  background: #9b6631;
  border: 0px solid #ffffff;
  border-radius: 37px;
}
::-webkit-scrollbar-track:hover {
  background: #9b6631;
}
::-webkit-scrollbar-track:active {
  background: #17580e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}