html {
  background-color: #7c7070;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  width: 100vw;
  margin: auto;
  background-color: white !important;
  min-height: 100vh;
}

a, a:hover .reg:hover {
  text-decoration: none !important;
  color: inherit !important;
}

header {
  display: flex !important;
  justify-content: space-around;
  margin: auto;
  background-color: white;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 3px solid grey;
}
header .fakeDiv {
  width: 100%;
}
header div {
  width: 30%;
  margin: auto;
  position: relative;
}
header h1 {
  letter-spacing: 5px;
  padding: 20px;
  color: #E0BE36;
  font-size: 3em;
}
header p {
  border-bottom: 3px solid #E0BE36;
  padding: 5px;
  letter-spacing: 5px;
  color: #E0BE36;
}
header .reg {
  background-color: #E0BE36;
  padding: 15px;
  color: #ca7835 !important;
  border-radius: 10px;
  font-weight: 900;
  transition: 0.5s all ease-in-out;
}
header .reg:hover {
  border: 3px dotted gold;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
  transform: translateY(-10px);
  transition: 0.2s all ease-in-out;
}
header small {
  color: #E0BE36;
  position: absolute;
  top: 45px;
  right: 0;
}

.containerBandejas {
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: center;
  text-align: center;
  width: 75%;
}
.containerBandejas div {
  overflow: hidden;
  transition: 1.3 all ease-in-out;
}
.containerBandejas div:hover {
  cursor: pointer;
  background-color: rgba(119, 95, 17, 0.11);
  transition: 1.3 all ease-in-out;
}
.containerBandejas div:hover .price {
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
  transform: rotateZ(0deg);
  color: #ca7835;
  transform: scale(1.2);
  border: 1px solid grey;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.containerBandejas div:hover img {
  transform: scale(1.6);
  transition: 1.3 all ease-in-out;
}
.containerBandejas a, .containerBandejas a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.74);
}

.detail {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}
.detail div {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail h1, .detail p, .detail span, .detail small, .detail h3 {
  padding: 5vh;
  text-align: center;
}
.detail img {
  margin: auto;
  width: 30vw;
  height: auto;
}
.detail small {
  padding: 1vh;
  border: 1px solid grey;
  border-radius: 10px;
  margin: auto;
  position: relative;
  bottom: 5vh;
}
.detail .panel {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: auto;
  overflow: hidden;
  overflow-x: auto;
  max-height: 200px;
  position: relative;
}
.detail .panel div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail .panel div img {
  width: 60%;
  margin: auto;
  height: auto;
}
.detail .panel div small {
  background-color: gold;
  color: black;
}

.price {
  position: absolute;
  top: 30px;
  right: 15px;
  padding: 5px;
  font-size: 1.6em;
  font-weight: 900;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  transform: rotateZ(-10deg);
  z-index: 500;
  transition: 0.5s all ease-in-out;
}

.priceDetail {
  top: 200px;
  right: 200px;
  font-size: 2vw;
  font-weight: 900;
  background-color: #ca7835;
  color: black;
  border-radius: 5px;
  z-index: 500;
  max-width: 30%;
  margin: auto;
  max-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
}

.titulo {
  font-size: 5vw;
  letter-spacing: 5px;
}

.subtitulo {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.formulario {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
  margin-top: 10vh;
}
.formulario input {
  border: 0 !important;
  border-bottom: 3px solid #4f803f !important;
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #f7dacc;
  border: 42px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #e4b550;
}

::-webkit-scrollbar-track {
  background: #9b6631;
  border: 0px solid #ffffff;
  border-radius: 37px;
}

::-webkit-scrollbar-track:hover {
  background: #9b6631;
}

::-webkit-scrollbar-track:active {
  background: #17580e;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
